asgiref==3.8.1
boto3==1.34.119
botocore==1.34.119
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
Django==5.0.6
django-rest-knox==4.2.0
djangorestframework==3.15.1
dynaconf==3.2.5
hvac==2.2.0
idna==3.7
Jinja2==3.1.4
jmespath==1.0.1
knox==0.1.14
loguru==0.7.2
MarkupSafe==2.1.5
pillow==10.3.0
pycparser==2.22
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.1
setuptools==70.0.0
shortuuid==1.0.13
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
validators==0.28.3
win32-setctime==1.1.0
